@model SubCategoryViewModel
@{
    ViewData["Title"] = "Categories - createSubCategory";
    ViewData["HeaderTitle"] = "createSubCategory";
    ViewData["Controller"] = "Categories";

}
<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create Sub-Category</h3>
        </div>
        <form asp-area="Dashboard" asp-controller="Categories" asp-action="CreateSubCategory">
            <div class="card-body">
                <div class="form-group">
                    <label for="Category">Category</label>
                    <input name="Category" class="form-control" value="@ViewBag.CategoryName" disabled/>
                </div>
                <input asp-for="CategoryId" type="hidden"/>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="SubCategory Name..">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" placeholder="SubCategory Description..">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-controller="Categories" asp-action="Details" asp-route-id="@Model.CategoryId" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}