@model CategoryViewModel
@{
    ViewData["Title"] = "Category - Delete";
    ViewData["HeaderTitle"] = "DeleteCategory";
    ViewData["Controller"] = "Categories";

}

<div class="col-12 col-sm-6">
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title">Delete Category</h3>
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete @Model.Name category?</p>
        </div>
        <div class="card-footer">
            <div class="content d-flex justify-content-end">

                <form asp-controller="Categories" asp-action="DeleteConfirm">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <button class="btn px-2 py-1 btn-danger" type="submit">
                            Delete
                        </button>
                        <a asp-controller="Categories" asp-action="Index" class="btn px-2 py-1 btn-secondary">
                            Cancel
                        </a>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>
