@model SubCategoryViewModel
@{
    ViewData["Title"] = "Categories - EditSubCategory";
    ViewData["HeaderTitle"] = "EditSubCategory";
    ViewData["Controller"] = "Categories";

}
<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit Sub Category</h3>
        </div>
        <form asp-area="Dashboard" asp-controller="Categories" asp-action="EditSubCategory">
            <div class="card-body">
                <input asp-for="Id" type="hidden" />
                <input asp-for="CategoryId" type="hidden" />
                <input asp-for="CreatedAt" type="hidden" />
                <partial name="_SubCategoryForm" />
            </div>
            <div class="card-footer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Edit</button>
                <a asp-controller="Categories" asp-action="Details" asp-route-id="@Model.CategoryId" class="btn btn-danger btn-sm">Cancel</a>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}