<!DOCTYPE html>
<html lang="en">
<head>
   <partial name="_Head" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="page-wrapper">
        <header class="header header-10 header-intro-clearance">
            <partial name="_Header" />
        </header>
            <main class="main">
                @RenderBody()
            </main>

        <footer class="footer footer-2">
            <partial name="_Footer" />
        </footer>
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
        <partial name="_MobileMenu" />
        <partial name="_SigninRegisterModal" />
        <partial name="_NewsPopup" />
    </div>
    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
