@model CreateProductViewModel
@{
    ViewData["Title"] = "Products - create";
    ViewData["HeaderTitle"] = "CreateProduct";
    ViewData["Controller"] = "Products";

}
 @if (Model.SubCategories != null && Model.SubCategories.Any())
    {
        <div class="col-md-6">
   
                <a asp-controller="Products" asp-action="Index" class="btn btn-secondary mb-2">
                    <i class="fa fa-sm fa-chevron-left"></i>
                    Back to list
                </a>
                <div class="card card-primary">
                    <div class="card-header">
                    <h3 class="card-title">Create Product</h3>
                    </div>
                    <form asp-area="Dashboard" asp-controller="Products" asp-action="Create" enctype="multipart/form-data">
                        <div class="card-body">
                            <partial name="_CreateProductForm"/>
                        </div>
                        <div class="card-footer">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
    
        </div>

   }else
    {
        <div class="alert alert-info"> There are no sub categories, Therefor, you can't add product</div>
    }
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_FileInputScripts" />
    <partial name="_AddProductColorScripts"/>
    <partial name="_LoadImagesScripts" />
    <partial name="_ColorPickerScripts" />
    <script>
        $('.my-colorpicker0').colorpicker();

        $('.my-colorpicker0').on('colorpickerChange', function (event) {
            if (event.color) {
                $('.my-colorpicker0 .fa-square').css('color', event.color.toString());
            }
        });
        RegisterFileInput(0);
    </script>


}

@section Styles{
    <partial name="_ColorPickerStyles" />
   
}