@model CreateProductViewModel
@{
    ViewData["Title"] = "Products - create";
    ViewData["HeaderTitle"] = "CreateProduct";
    ViewData["Controller"] = "Products";

}
 @if (Model.SubCategories != null && Model.SubCategories.Any())
    {
        <div class="col-md-6">
   
                <a asp-controller="Products" asp-action="Index" class="btn btn-secondary mb-2">
                    <i class="fa fa-sm fa-chevron-left"></i>
                    Back to list
                </a>
                <div class="card card-primary">
                    <div class="card-header">
                    <h3 class="card-title">Create Product</h3>
                    </div>
                    <form asp-area="Dashboard" asp-controller="Products" asp-action="Create" enctype="multipart/form-data">
                        <div class="card-body">
                            <partial name="_ProductForm"/>
                        </div>
                        <div class="card-footer">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
    
        </div>

   }else
    {
        <div class="alert alert-info"> There are no sub categories, Therefor, you can't add product</div>
    }
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_FileInputScripts" />
    <partial name="_LoadImagesScripts" />

}

@section Styles{
    <style>
        .productImage {
            object-fit:cover;
            width:80px;
            height:80px;
            box-shadow: 0px 0px 1px;
            
        }
    </style>
   
}