@model CreateCouponViewModel
@{
    ViewData["Title"] = "Coupons - Edit";
    ViewData["HeaderTitle"] = "EditCoupon";
    ViewData["Controller"] = "Coupons";

}
<div class="col-md-6">

    <a asp-controller="Coupons" asp-action="Index" class="btn btn-secondary mb-2">
        <i class="fa fa-sm fa-chevron-left"></i>
        Back to list
    </a>
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit Coupon</h3>
        </div>
        <form asp-area="Dashboard" asp-controller="Coupons" asp-action="Edit">
            <div class="card-body">
                <input asp-for="Id" type="hidden" />
                <input asp-for="CreatedAt" type="hidden" />
                <partial name="_CouponForm"/>
            </div>
            <div class="card-footer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>

</div>
@section Styles{
    <partial name="_DateTimePickerStyles" />
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DateTimePickerScripts" />
    <partial name="_CouponScripts" />
}